.toolbar-wrapper-backup{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #fff;
     border-bottom:  1px solid #e8e8e8;
     z-index: 20;
}


.toolbar-wrapper-backup.close .toolbar-form{
    height: 0;
    overflow: hidden;
}

.toolbar-wrapper-backup.open .toolbar-form{
    margin:10px 5px 30px;
}


.toolbar-handle{
    position: absolute;
    left: 50%;
    width: 50px;
    height: 25px;
    margin-left: -12.5px;
    background-color: #fff;
    text-align: center;
    border-left:  1px solid #e8e8e8;
    border-right:  1px solid #e8e8e8;
    z-index: 10;
   cursor: pointer;
}

.toolbar-handle.close{
    top: 0px; 
    border-bottom:  1px solid #e8e8e8;
    border-top: none;
}
.toolbar-handle.open{
    top: auto;
    bottom: 0px; 
    border-bottom: none;
    border-top: 1px solid #e8e8e8;
}



.toolbar-wrapper{
    width: 100%;
    background-color: #fff;
    border-bottom:  1px solid #e8e8e8;
    z-index: 20;
    padding: 5px;
}






/* start of tabs */
.toolbar_tabs{
     width: 100%;
    /*  border-bottom:  1px solid #e8e8e8; */
     background-color: #fff;
}
.toolbar_tabs li{
      display: inline-block;
      width: 130px;
      height: 45px;
      line-height: 45px;
      border-right: 1px solid #e8e8e8;
      text-align: center;
      cursor: pointer;
}


/* end of tabs */