
html, body {
  margin:0;
  padding:0;
  height: 100%;
}


#root{
  position: absolute;
  top: 0;
  left: 0;
   width: 100%;
   height: 100%;
}

body {
  margin: 0;
}


#app_content{
    position: relative;
    width: 100%;
    height: 100%;
}



::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}



p,figure,dl,dt,dd,
h1,h2,h3,h4,h5,h6,ol,li,ul{
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

ul,ol{
    list-style: none;
}

em,i{
    font-style: normal;
}

button{
  outline: none;
}

.ell{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.clearFloat::after{
  display: block;
  content: '';
  width: 100%;
  height: 0;
  visibility: hidden;
  clear: both;
}



.bd{
   border: 1px solid red;
}



#wshop_app_layout{
      margin: 16px;
      background-color: #fff;
      min-height: 280px;
}


.table-action-buttons{
    display: block;   
}

.table-action-buttons button{
     display: inline-block;
     border: none;
     background-color: transparent;
     margin: 5px;
     cursor: pointer;
}

.expanded-row{
   margin: 0;
   padding: 0;

  }


/* 面包屑 start */
.app-breadcrumbs-wrapper{
     padding: 6px 0;
     margin: 0 16px;
}

.app-breadcrumbs-item a{
   color:rgba(0,0,0,0.45);
}
.app-breadcrumbs-item a:hover{
  color:rgba(247, 7, 7, 0.45);
}

/* 面包屑 end */



/* toolbar_tabs start */
.toolbar_tabs li.active,
.toolbar_tabs li:hover{
     background-color:#e7e7e7;
}
/* toolbar_tabs end */




.app-tableCell-image{
    margin: 0 auto;
     width: 80px;
     height: 80px;
     overflow: hidden;
}

.app-tableCell-image img{
     display: block;
     margin: 0 auto;
     max-width: 100%;
}


.toolbar-wrapper{
  width: 100%;
  background-color: #fff;
  border-bottom:  1px solid #e8e8e8;
  z-index: 20;
  padding: 5px;
}



/* start of tabs */
.toolbar_tabs{
   width: 100%;
  /*  border-bottom:  1px solid #e8e8e8; */
   background-color: #fff;
}
.toolbar_tabs li{
    display: inline-block;
    width: 130px;
    height: 45px;
    line-height: 45px;
    border-right: 1px solid #e8e8e8;
    text-align: center;
    cursor: pointer;
}

/* end of tabs */




/* start of 404  */

#app-notFound-page{
  position: relative;
  width: 100%;
  height: 100%;

}

#app-notFound-page .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  }

#app-notFound-page .notfound {
max-width: 520px;
width: 100%;
line-height: 1.4;
text-align: center;
}

#app-notFound-page .notfound .notfound-404 {
position: relative;
height: 240px;
}

#app-notFound-page .notfound .notfound-404 h1 {
font-family: 'Montserrat', sans-serif;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
font-size: 252px;
font-weight: 900;
margin: 0px;
color: #262626;
text-transform: uppercase;
letter-spacing: -40px;
margin-left: -20px;
}

#app-notFound-page .notfound .notfound-404 h1>span {
text-shadow: -8px 0px 0px #fff;
}

#app-notFound-page .notfound .notfound-404 h3 {
font-family: 'Cabin', sans-serif;
position: relative;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
color: #262626;
margin: 0px;
letter-spacing: 3px;
padding-left: 6px;
}

#app-notFound-page .notfound h2 {
font-family: 'Cabin', sans-serif;
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
color: #000;
margin-top: 0px;
margin-bottom: 25px;
}




@media only screen and (max-width: 767px) {
  #app-notFound-page .notfound .notfound-404 {
  height: 200px;
}
#app-notFound-page .notfound .notfound-404 h1 {
  font-size: 200px;
}
}

@media only screen and (max-width: 480px) {
  #app-notFound-page .notfound .notfound-404 {
  height: 162px;
}
#app-notFound-page .notfound .notfound-404 h1 {
  font-size: 162px;
  height: 150px;
  line-height: 162px;
}
#app-notFound-page .notfound h2 {
  font-size: 16px;
}
}


/* start of 404  */

@import './layouts/index.css';
@import './pages/index/index.less';
@import './pages/goods/goods.less';
@import './pages/order/order.less';
@import './pages/members/members.less';
@import './layouts/login/login.less';